@import url('https://fonts.googleapis.com/css2?family=WindSong&family=Pixelify+Sans:wght@400..700&family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&display=swap');

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #EDF2F7;
}


.header {
    font-family: "Oxanium", monospace;
    color: #e0e6ff;
    background-color: #2d326e;
    font-weight: 100;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.footer {
    font-family: "Montserrat", sans-serif;
    color: #e0e6ff;
    font-size: 1vw;
    background-color: #2d326e;
    width: 100%;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    bottom: 0;
    text-align: center;
    z-index: 1000;
    height: 2rem;

}

.links  {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#titulo {
    font-family: "Abril Fatface", serif;
    font-size: x-large;
    color: #e0e6ff;
}

a#saiba_mais {
    color: #e0e6ff;
    float: right;    
    padding-right: 1%;

}

/* página inteira */
.content-wrapper {
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    scale: 0.90;
    align-items: center;
}

/* parte esquerda da página */
.main-column {
    text-align: left;
    width: 50%;
    padding-left: 8%;
    padding-right: 3%;
    scale: 90%;
}

.imagem_home {
    max-width: 100%;
}

.home-text {
    display: flex;
    flex-direction: column;
}

#sera {
    font-family:"Abril Fatface", serif ;
    font-size: 4.2vw; 
    line-height: 0.9;
    margin-bottom: 0.5rem;
    color: #2d326e;
}

#entre {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.01vw;
    font-size: 1.9vw;
    font-weight:500;
    line-break: loose;
    line-height: 1;
    padding-right: 0.5%;
    text-align: left;
    color: rgb(106, 108, 112);
}

/* parte direita da página */
.forms {
    color: #2d326e;
    width: max-content;
    align-content: center;
}

.form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-label {
    font-family:"Abril Fatface", serif ;
    font-size: 1.5vw;
    font-weight: 100;
    letter-spacing: 0.05vw;
    margin-bottom: 0.4vw;
}

.form-select {
    font-family: "Montserrat", sans-serif;    
    width: 100%;
    padding: 1rem;
    border-radius: 13px;
    font-size: 1vw;
    text-align: left;
    appearance: none;
    border: none;
}

.form-input {
    font-family: "Montserrat", sans-serif;    
    width: max-content;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 13px;
    text-align: left;
    appearance: auto;
    border: none;
    font-size: 1vw;

}

.form-submit {
    font-family:"Abril Fatface", serif;
    letter-spacing: 0.01vw;
    padding: 1rem 1rem;
    background-color: #2d326e;
    color: #e0e6ff;
    font-weight: normal;
    border: none;
    border-radius: 15px;
    margin-top: 1rem;
    cursor: pointer;
    width: 100%;
    font-size: 1.5vw;
    text-align: center;
}

.vejamais {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.01vw;
    padding: 1rem 1rem;
    background-color: #2d326e;
    color:#e0e6ff;
    font-weight: normal;
    border: none;
    border-radius: 15px;
    margin: 1rem;
    cursor: pointer;
    width: fit-content;
    font-size: 1.1vw;
    text-align: center;
    align-self: center;
    height: max-content;
}


.form-submit:hover {
    background-color: #e0e6ff;
    color: #2d326e;
}

/* Página dados */
.resultados {
    font-family: "Abril Fatface", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8vw;
    color: #2d326e;
}

.resultadoss {
    display: flex;
    flex-direction: column;
}

.graf_result{
    display: flex;
    padding: 2%;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-content: center;
}

p {
    border: 0;
    margin: 0;
}

#sal_hom {
    padding: 0%;
    color: #007a94;
}

#sal_mul {
    padding: 0%;
    color: #A57BB6;
}


@media (max-width: 768px) {
    /* Ajustes gerais */
    body, html {
        font-size: 14px; /* Tamanho de fonte geral menor */
    }

    .header {
        height: auto; /* Altura ajustável */
        padding: 15px 5%; /* Mais espaço interno */
    }

    #titulo {
        font-size: 1.5rem; /* Tamanho de fonte maior para legibilidade */
        padding-left: 5%; /* Ajuste no padding */
    }

    a#saiba_mais {
        font-size: 1rem; /* Tamanho de fonte ajustado para links */
        padding-right: 5%; /* Ajuste no padding */
    }

    /* Ajustes para wrappers e layout principal */
    .content-wrapper {
        padding-top: 10px;
        text-align: center; /* Centralizar conteúdo */
        flex-direction: row;
    }

    .main-column, .forms {
        width: 100%; /* Colunas para ocupar a largura total */
        padding: 10px; /* Padding uniforme */
    }

    .imagem_home {
        width: 100%; /* Ajustar largura da imagem para preencher */
    }

    .home-text, .resultados, .graficos {
        text-align: center; /* Centralizar textos */
    }

    /* Ajustes para formatação de formulários e entradas */
    .form-group {
        flex-direction: column; /* Empilhar verticalmente */
        align-items: center; /* Centralizar itens */
    }

    .form-label {
        width: 100%; /* Etiquetas para preencher a largura */
        text-align: center; /* Texto centralizado */
        margin-bottom: 5px; /* Espaço abaixo das etiquetas */
    }

    .form-input, .form-select {
        width: max-content; /* Entradas para preencher a largura */
        margin-bottom: 1vh; /* Espaço entre entradas */
    }

    .form-submit {
        width: max-content; /* Botão mais estreito */
        margin-top: 20px; /* Mais espaço acima do botão */
        cursor: pointer; /* Cursor de ponteiro para indicar clicável */
    }

    .form-submit:hover {
        background-color: #e0e6ff; /* Cor de fundo ao passar o mouse */
        color: #2d326e; /* Cor do texto ao passar o mouse */
    }

    /* Ajustes para gráficos e rodapé */
    .footer {
        font-size: 0.8rem; /* Tamanho de fonte menor para o rodapé */
        padding: 10px 5%; /* Padding ajustado */
        max-width: 100%; /* Largura máxima ajustada */
        text-align: center; /* Centralizar conteúdo */
    }

    .graficos, .resultados {
        flex-direction: column; /* Colunas em forma de pilha */
    }

    .graf_h, .titulo_graf_h {
        flex-direction: column; /* Ajustar direção dos gráficos e títulos */
    }
}
