<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_dados.css">
    <title>Gender Pay Gap</title>
</head>
<body>
    <div class="header">
        <div id="titulo_dados">Gender Pay Gap</div>
    </div>
    <div class="content-wrapper">
        <div class="content">
            <div id="oque">What do <br> the data show?</div>
            <h1 id="panorama">Overview of Women in the Brazilian Labor Market</h1>
            <p class="spacing">The wage gap between <span id="homem">men</span> and <span id="mulher">women</span> is a persistent reality throughout Brazil, but with different magnitudes. In this article, we will see the variations of this disparity by <strong>state, color and race and education level</strong>.</p>
            <p>First of all, let's see how the labor market behaves in Brazil, what the <strong>participation</strong> of <span id="mulher">women</span> in the labor market is, and what percentage of them are employed.</p>
            <div class="flourish-embed" data-src="story/2822323"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
            <p>The first difference we will observe is in the salary inequality between the <strong>states</strong>: in places where the average salary is lower – click on the states on the map to see – the wage gap is not as significant as in states where the average salary is higher.</p>
            <div class="flourish-embed flourish-map" data-src="visualisation/21161771">
                <script src="https://public.flourish.studio/resources/embed.js"></script>
            </div>
            <p class="spacing">For example, in the <strong>Federal District</strong>, where the average salary exceeds R$4,900, <span id="homem">men</span> earn <strong>37%</strong> more than <span id="mulher">women</span>. On the other hand, in <strong>Amapá</strong>, where the average salary is around R$2,600, <span id="homem">men</span> earn 5% less than <span id="mulher">women</span>.</p>
            <p class="spacing">When comparing the disparity between <strong>races and colors</strong>, we again see the phenomenon where the higher the average income, the greater the gap between what <span id="homem">men</span> and <span id="mulher">women</span> earn, and vice versa.</p>
            <div class="flourish-embed flourish-scatter" data-src="visualisation/21165154">
                <script src="https://public.flourish.studio/resources/embed.js"></script>
            </div>
            <p>The average salary for <strong>indigenous</strong> people is the lowest among all races – about R$2,020 – and the difference between the average salaries of an <span id="homem">indigenous man</span> and an <span id="mulher">indigenous woman</span> in Brazil is smaller: 0.1%. However, when we make the same comparison for <strong>Asians</strong>, this difference reaches 41%.</p>
            <p class="spacing">When conducting the same type of analysis by <strong>education levels</strong>, we encounter the same result: higher education levels show greater inequality since lower levels receive average salaries closer to the minimum wage.</p>            
            <div class="flourish-embed flourish-slope" data-src="visualisation/21165097"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
        </div>
    </div>
    <div class="footer">
        <a id="saiba_mais" href="/en">Back to the main page</a>
    </div>
</body>
</html>
