<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Girls just wanna have equal pay</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#form").on("submit", function(event) {
                event.preventDefault();
                $.ajax({
                    url: "/resultado",
                    type: "GET",
                    data: $(this).serialize(),
                    success: function(data) {
                        $("#resultados").html(data);

                        function scrollToBottom() {
                            $('html, body').animate({
                                scrollTop: $("#resultados").offset().top + $("#resultados").outerHeight() - window.innerHeight
                            }, 1000);
                        }

                        animateCounters();
                        createChart();
                        setTimeout(scrollToBottom, 500);
                    }
                });
            });
        });

        function animateCounters() {
            $('.counter').each(function() {
                $(this).prop('Counter', 0).animate({
                    Counter: $(this).data('value')
                }, {
                    duration: 2000,
                    easing: 'swing',
                    step: function(now) {
                        $(this).text(parseFloat(now).toFixed(2).replace('.', ',').replace(/\B(?=(\d{3})+(?!\d))/g, "."));
                    }
                });
            });
        }

        function createChart() {
            const data = [
                {category: 'Homem', value: parseFloat($("#h").data('value'))},
                {category: 'Mulher', value: parseFloat($("#m").data('value'))}
            ];

            const width = window.innerWidth * 0.3;
            const height = window.innerHeight * 0.4;

            const svg = d3.select("#chart").html("").append("svg")
                .attr("width", width)
                .attr("height", height);

            const margin = {top: 40, right: 20, bottom: 60, left: 100},
                chartWidth = width - margin.left - margin.right,
                chartHeight = height - margin.top - margin.bottom;

            const x = d3.scaleBand().rangeRound([0, chartWidth]).padding(0.1),
                  y = d3.scaleLinear().rangeRound([chartHeight, 0]);

            const g = svg.append("g")
                         .attr("transform", `translate(${margin.left},${margin.top})`);

            x.domain(data.map(d => d.category));
            y.domain([0, d3.max(data, d => d.value)]);

            const formatCurrency = d3.formatLocale({
                decimal: ",",
                thousands: ".",
                grouping: [3],
                currency: ["R$", ""]
            }).format("$,.0f");

            g.append("g")
             .attr("class", "axis axis--x")
             .attr("transform", `translate(0,${chartHeight})`)
             .call(d3.axisBottom(x))
             .selectAll("text")
             .style("fill", "#2d326e")
             .style("font-family", "Abril Fatface, serif")
             .style("font-size", function() {
                return `${Math.max(16, chartWidth * 0.025)}px`;
            });

            const yAxis = g.append("g")
                           .attr("class", "axis axis--y")
                           .call(d3.axisLeft(y).tickFormat(formatCurrency).tickSize(0).tickValues(y.ticks().filter(tick => tick !== 0)));

            yAxis.selectAll("text")
                 .style("fill", "#2d326e")
                 .style("font-family", "Abril Fatface, serif")
                 .style("font-size", function() {
                    return `${Math.max(16, chartHeight * 0.03)}px`;
             });

            g.selectAll(".bar")
             .data(data)
             .enter().append("rect")
             .attr("class", "bar")
             .attr("x", d => x(d.category))
             .attr("width", x.bandwidth())
             .attr("y", chartHeight)
             .attr("height", 0)
             .style("fill", d => d.category === "Homem" ? "#007a94" : "#A57BB6")
             .transition()
             .duration(2000)
             .attr("y", d => y(d.value))
             .attr("height", d => chartHeight - y(d.value));
        }

        const style = document.createElement('style');
        style.innerHTML = `
            .axis path,
            .axis line {
                stroke: #2d326e;
                stroke-width: 2px;
            }
        `;
        document.head.appendChild(style);
    </script>
</head>
<body>
    <header class="header">
        <text id="titulo">Desigualdade Salarial Entre Gêneros</text>
        <a href="/en" id="saiba_mais">English</a>
        <a href="/dados" id="saiba_mais">Veja mais dados</a>
    </header>
    <div class="content-wrapper">
        <div class="main-column">
            <img class="imagem_home" src="https://raw.githubusercontent.com/giovannacbs/desigualdade/refs/heads/main/static/home.png">
            <div class="home-text">
                <text id="sera">
                    Será que mulher <br>
                    realmente ganha menos?
                </text>
                <text id="entre">Selecione as variáveis idade, raça/cor, nível máximo de educação, região que reside e horas trabalhadas semanais e confira a estimativa do salário médio para homens e mulheres.</text>
            </div>
        </div>
        <div class="forms">
            <form id="form" class="form-container">
                <div class="form-group">
                    <label for="idade" class="form-label">Idade</label>
                    <input type="number" name="idade" id="idade" class="form-input" min="15" max="65" required>
                </div>
                <div class="form-group">
                    <label for="regiao" class="form-label">Região</label>
                    <select name="regiao" id="regiao" class="form-select" required>
                        <option value="" selected disabled>Selecione a região...</option>
                        <option value="Centro-Oeste">Centro-Oeste</option>
                        <option value="Nordeste">Nordeste</option>
                        <option value="Norte">Norte</option>
                        <option value="Sul">Sul</option>
                        <option value="Sudeste">Sudeste</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="educ" class="form-label">Nível mais alto de educação</label>
                    <select name="educ" id="educ" class="form-select" required>
                        <option value="" selected disabled>Selecionar educação...</option>
                        <option value="Ensino Fundamental">Ensino Fundamental</option>
                        <option value="Ensino Médio">Ensino Médio</option>
                        <option value="Ensino Superior">Ensino Superior</option>
                        <option value="Especialização de nível superior">Especialização de Nível Superior</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="raca" class="form-label">Raça/Cor</label>
                    <select name="raca" id="raca" class="form-select" required>
                        <option value="" selected disabled>Selecionar raça/cor...</option>
                        <option value="branca">Branca</option>
                        <option value="nao branca">Não Branca</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="hrs_trab" class="form-label">Horas trabalhadas por semana</label>
                    <input type="number" name="hrs_trab" id="hrs_trab" class="form-input" min="25" max="80" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Calcular Salário" class="form-submit">
                </div>
            </form>
        </div>
    </div>
    <div id="resultados"></div>
</body>
</html>
