<div class="result">    
    <div class="resultadoss">
        <div class="graf_result">
            <div class="resultados">
                <p>Estimated value if male:</p>
                <p id="sal_hom">R$<span id="h" class="counter" data-value="{{ salario_homem }}">{{ salario_homem }}</span></p>
                <br/>
                <p>Estimated value if female:</p> 
                <p id="sal_mul">R$<span id="m" class="counter" data-value="{{ salario_mulher }}">{{ salario_mulher }}</span></p>
                <br/>
                <p>Difference of <span class="counter" data-value="{{ percentual }}">{{ percentual }}</span>%</p>         
            </div>
            <div id="chart"></div>    
    </div>    
</div>
